*.js linguist-language=JavaScript
*.pdf linguist-documentation
*.db linguist-documentation
*.1 linguist-documentation
framework/* linguist-vendored
assets/* linguist-vendored
protected/runtime/* linguist-vendored
