body {
	background: #f3f3ef;
	margin: 0;	
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#header {
	width: 100%;
	z-index: 99;
	position: fixed;
	height: 40px;
	background: #999;
}
#header  > div {
	max-width: 1000px;
	min-width: 800px;
	margin: 0 auto;
	line-height: 12px;
}
#header  ul {
	letter-spacing: -0.4em;
	width: 70%;
	float: left;
}
#header a {
	display: inline-block;
	letter-spacing: normal;
	text-decoration: none;
	text-transform: uppercase;
	padding: 14px 22px;
	color: #d1d3c8;
}
#header a:hover {
	color: white;
}
#header .active a:hover {
	color: #d1d3c8;
	cursor: default;
}
#header .active > a, .auth a:hover {
	background: grey;
}
#header  li, .auth > * {
	display: inline-block;
	vertical-align: middle;
}
.auth {
	float: right;
	clear: right;
	height: 100%;
}
.auth > a {
	height: 100%;
}
.auth > span {
	color: white;
	padding: 0 10px;
}

.wrapper {
	margin: 0 auto;
	max-width: 1000px;
	min-width: 800px;
}
.content {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	padding: 60px 20px 20px;
    background: #fafbfc;
	box-sizing: border-box;
    box-shadow: 0px 1px 3px 1px #ececec;
}
.content > p {
    margin-top: 0;
}
.content h1 {
    font-size: 160%;
	font-weight: normal;
	font-family: 'Arial', sans-serif;
	text-transform: uppercase;
}

.top-nav {
	height: 30px;
}
.top-nav > * {
	height: 100%;
}

.pagination:before {
    content: 'Страницы';
	position: relative;
	top: -9px;
}
.pagination {
    float: left;
	max-width: 50%;
	padding: 0;
    margin: 0;
}

.pagination li {
	display: inline-block;
	margin-left: 10px;
}
.pagination li > * {
    color: black;
    float: left;
	width: 20px;
	text-align: center;
    padding: 6px 6px;
    text-decoration: none;
}
.pagination .active > span {
    background-color: #4CAF50;
	color: white;
}
.pagination a:hover { 
	color: black;
	background: #ddd;
}


table {
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	text-transform: lowercase;
}
th, td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
}
td {
	border-top: 1px solid #dddddd;
}
td:first-child, th:first-child {
	padding-left: 0;
}
tr a {
	color: black;
	text-decoration: none;
}
tr a:hover {
	color: #0070cf;
}
.table-actions {
	float: right;
}
.table-actions > a {
	color: #9199a1;
}
.actions {
	float: right;
}
.button {
    display: inline-block;
    vertical-align: top;
	padding: 5px 10px;
	background-color: #4caf50;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}
.button:hover {
	color: white;
	background-color: #6dbf71;
	text-decoration: none;
}

a { color: #0086ff; }
a:hover { color: #0070cf; }

input[type=text],
input[type=password],
input[type=submit],
textarea,
select {
	font-family: 'Open Sans', sans-serif;
	font-size: inherit;
}

.logo {
	text-align: center;
	margin: 100px auto;
}

.logo > * {
	display: inline-block;
	vertical-align: middle;
}

.logo h1 {
	font-size: 200%;
	font-weight: normal;
	text-transform: uppercase;
}

.login-form-wrapper {
	width: 322px;
	margin: 0 auto;
}
.login-form-wrapper > form {
	border: 6px solid #fff;
	border-radius: 4px;
	padding: 20px 30px;
	text-align: center;
}
.login-form-wrapper input {
	margin: 5px auto 10px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}
.login-form-wrapper [type=submit] {
	width: 50%;
}
.login-form-wrapper div {
	margin-top: 10px;
	text-align: center;
}

.group { margin-bottom: 20px; }

.group.last { margin-top: 30px; }

.group > div {
	display: inline-block;
	vertical-align: middle;
}
.group > div:first-child {
	width: 160px;
}
.group > div:first-child +div{
	width: 640px;
	position: relative;
}

.group > div > * {
	display: inline-block;
	vertical-align: middle;
}
.group [type=text], select{
	box-sizing: border-box;
	width: 40%;
}
.group span {
	width: 55%;
}
.group [type=submit] {
	width: 120px;
}
.group small {
    font-size: 95%;
    position: absolute;
    top: 40px;
    left: 0px;
}

input[type=text],
input[type=password],
input[type=submit],
select {
	padding: 3px 2px;
}
input[type=submit] {
	text-transform: uppercase;
}

span.error, div.error {
	padding: 0 10px;
	margin: 10px auto;
	line-height: 2;
	background: #ffd3d3;
}

.confirm {
	z-index: 1000;
	padding: 15px;
	position: fixed;
	display: none;
	width: 400px;
	left: 450px;
	-moz-box-shadow: 0 0 7px 5px #7A7A7A;
	-moz-border-radius: 4px;
	box-shadow: 2px 2px 6px 2px #7A7A7A;
	border-radius: 3px;
	background: #F3F3E9;
}

.cover {
	z-index: 9;
	background: #777777;
	opacity: 0.7;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.confirm p {
	margin: 0;
	padding: 6px 0;
	text-align: center;
}
.confirm .button {
	width: 100px;
}

script {display:none}